.container-fluid{
	background-color:gray;
}
.container-fluid > .navbar-collapse, .navbar-nav, .nav, {
  /*margin-right: 0px;
  margin-left: 0px;*/
	margin:0;
	padding:0;
}
.navbar > .container-fluid .navbar-brand {
    margin-left:0;
}
.navbar-brand>a,#nav-list{ 
	color:black;
}
.navbar-brand{
	font-weight:600;
	font-size:1.8em;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration:none;
}
.navbar-collapse{
	overflow-x:hidden;
	overflow-y:hidden;
	padding-right: 0;
	padding-left: 0;
}
#nav-list{
	background-color:white;
}
.navbar-nav{
	margin:0;
	padding:0;
}
li{
	color:black;
	border-style:solid;
	/*border-width:1px;*/
	border-bottom:1px;
}
#menu{
	font-size:1.6em;
	font-weight:600;
	color:black;
}
.food{
	background-color:gray;
	color:black;
	padding:10px;
}
.food-title{
	font-size:1.3em;
	font-weight:500;
}
.dummy{
	margin:5px;
}
